{% extends "ChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = '' %}

{% block title 'Consultation list'|trans %}

{% block personcontent %}
<h1>{{ 'Consultation list'|trans }}</h1>

{% if consultations|length > 0 %}
<table>
    <thead>
        <tr>
            <td>{{ 'Date'|trans }}</td>
            <td>{{ 'Author'|trans }}</td>
            <td>{{ 'State'|trans }}</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% for consultation in consultations %}
        <tr>
            <td>{{ consultation.date|localizeddate('long', 'none') }}</td> 
            <td>{{ consultation.author }}</td>
            <td>{{ 'consultation_state_' ~ consultation.state|trans }}</td>
            <td>
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id } ) }}" class="sc-button btn-see">
                            {{ 'See'|trans }}
                        </a>
                    </li>
                    {% if consultation.state == constant('Chill\\HealthBundle\\Entity\\Consultation::STATE_CLOSED') %}
                        
                        <li>
                            {% if consultation.publications|length == 0 %}
                            <a href="{{ path('chill_brusafe_document_new', { 'consultation_id' : consultation.id } ) }}" class="sc-button btn-see">
                                {{ 'Publish on Abrumet'|trans }}
                            </a>
                            {% elseif consultation.publications|length == 1 %}
                            <a href="{{ path('chill_brusafe_document_show', { 'publication_id' : consultation.publications[0].id } ) }}">
                            {% transchoice 1 with { '%number%' : 1 } %}
                            %number% documents created
                            {% endtranschoice %}
                            </a>
                            {% else %}
                            {% transchoice consultation.publications|length with { '%number%' : consultation.publications|length } %}
                            %number% documents created
                            {% endtranschoice %}
                            {% endif %}
                        </li>
                        
                        
                    {% endif %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p class="chill-no-data-statement">{{ "There aren't any consultation yet"|trans }}</p>
{% endif %}

<ul class="record_actions">
    <li>
        <a href="{{ path('chill_health_consultation_new', { 'person_id' : person.id } ) }}" class="sc-button bt-new">
            {{ 'New consultation'|trans }}
        </a> 
    </li>
</ul>

{% endblock %}
