{% extends "ChillPersonBundle::layout.html.twig" %}

{% block title 'Create a consultation'|trans %}
    
{% set activeRouteKey = '' %}

{% block personcontent %}
<h1>{{ 'Create a consultation'|trans }}</h1>

{{ form_start(form) }}

{{ form_row(form.date) }}
{{ form_row(form.author) }}
{{ form_row(form.circle) }}

<ul class="record_actions">
    <li>
        {{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button bt-create' } } ) }}
    </li>
</ul>

{{ form_end(form) }}
{% endblock %}
