{% extends "ChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = '' %}

{% set role_update = constant('Chill\\HealthBundle\\Security\\Authorization\\ConsultationVoter::UPDATE') %}

{% if form_close is defined %}
    {% set is_updatable = false %}
{% else %}
    {% set is_updatable = is_granted(role_update, consultation) %}
{% endif %}

{% block title 'Show consultation'|trans %}
    
{% block js %}
    <script type="text/javascript" src="{{ asset("bundles/chillhealth/js/medication_form.js") }}"></script>
    {% if form_medication is defined %}
    <script type="text/javascript">
        window.addEventListener('load', function(e) {            
            var select = $("#" + "chill_healthbundle_medication_substance");
            
            select.on("change", function(ev) { 
                MedicationForm.displayCodeData(ev.currentTarget);
            });
            
            select.each(function(index) {
                if (this.value !== null) {
                    MedicationForm.displayCodeData(this);
                }
            });
        })
    </script>
    {% endif %}
{% endblock js %}

{% block personcontent %}
    <h1>{{ 'Show consultation'|trans }}</h1>
    
    {% if form_close is defined %}
    <ul class="record_actions">
        <li>
            {{ form_start(form_close) }}
            {{ form_widget(form_close.submit, { 'attr' : { 'class' : 'sc-button btn-delete' }, 'label': 'Close consultation' } ) }}
            {{ form_end(form_close) }}
        </li>
    </ul>
    {% endif %}

    <dl>
        <dt>{{ 'Date'|trans }}</dt>
        <dd>{{ consultation.date|localizeddate('long', 'none') }}</dd>

        <dt>{{ 'Author'|trans }}</dt>
        <dd>{{ consultation.author }}</dd>

        <dt>{{ 'Circle'|trans }}</dt>
        <dd>{{ consultation.circle.name|localize_translatable_string }}</dd>
    </dl>
    
    {% if consultation.isClosed == false %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('chill_health_consultation_edit', { 'consultation_id' : consultation.id } ) }}" class="sc-button bt-edit">
                {{ 'Update'|trans }}
            </a>
        </li>
    </ul>
    {% endif %}
    
    {#
    <h2>{{ 'Active problems'|trans }}</h2>

    <p>Disponible dans les futures versions...</p>

    #}
    <h2>{{ 'Medications'|trans }}</h2>
    
    {% if consultation.medications|length == 0 %}
        {% if form_medication is not defined %}
        <p>
            <span class="chill_no_data_statement">{{ 'No medications' }}</span>
        </p>
        {% endif %}
    {% else %}
        <table>
            <tbody>
                    {% for medication in consultation.medications %}
                        <tr>
                            <td class="medication-date-from">
                                <dl>
                                    <dt>{{ 'Date from'|trans }}</dt>
                                    <dd>{{ medication.dateFrom|localizeddate('long', 'none') }}</dd>
                                
                                    <dt>{{ 'Drug'|trans }}</dt>
                                    <dd>
                                        {{ medication.substance.displayName|localize_translatable_string }}, {{ medication.doseQuantityValue }}&nbsp;{{ medication.doseQuantityUnit }}
                                    </dd>
                                
                                    <dt>{{ "Fréquence d'administration"|trans }}</dt>
                                    <dd>{{ medication.administrationFrequency }}</dd>
                                
                                    <dt>{{ "Route of administration"|trans }}</dt>
                                    <dd>{{ medication.routeOfAdministration.displayName|localize_translatable_string }}</dd>
                                
                                    <dt>{{ 'Date to'|trans }}</dt>
                                    <dd>{{ medication.dateTo|localizeddate('long', 'none') }}</dd>
                                    
                                    <dt>{{ 'Mode de délivrance'|trans }}</dt>
                                    <dd>
                                        {% if medication.modeDelivrance is not empty%}
                                            <blockquote class="chill-user-quote">
                                            {{ medication.modeDelivrance }}
                                            </blockquote>
                                        {% else %}
                                            <p class="chill-no-data-statement">{{ 'There are no indication'|trans }}</p>
                                        {% endif %}
                                    </dd>
                                </dl>
                                    
                                {% if is_updatable %}
                                <ul class="record_actions">
                                    <li>
                                        <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id, 'action': 'medication_update', 'medication_id': medication.id } ) }}" class="sc-button btn-update">
                                            {{ "Update"|trans }}
                                        </a>
                                    </li>
                                </ul>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    {% if form_medication is defined %}
    
    {% if form_medication_step == 'create' %}
    <h3>{{ 'New medication'|trans }}</h3>
    {% elseif form_medication_step == 'update' %}
    <h3>{{ 'Update medication'|trans }}</h3>
    {% endif %}
    
    {{ form_start(form_medication) }}
    
    {{ form_row(form_medication.dateFrom) }}
    {{ form_row(form_medication.substance) }}
    <div id="substance_description_container" class="grid-8 push-4"></div>
    {{ form_row(form_medication.doseQuantityValue) }}
    {{ form_row(form_medication.doseQuantityUnit) }}
    {{ form_row(form_medication.routeOfAdministration) }}
    {# {{ form_row(form_medication.administrationUnitCode) }} #}
    {{ form_row(form_medication.administrationFrequency) }}
    {{ form_row(form_medication.dateTo) }}
    {{ form_row(form_medication.modeDelivrance) }}
    {{ form_row(form_medication.neverPublish, { 'label' : 'Allow publication ?' } ) }}
    
    
    <ul class="record_actions">
        <li>
            {{ form_widget(form_medication.submit, { 'attr' : { 'class' : 'sc-button bt-create' }, 'label' : 'Submit' } ) }}
        </li>
        <li>
            <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id } ) }}" class="sc-button bt-cancel">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    </ul>
    
    {{ form_end(form_medication) }}
    {% endif %}
    
    <!-- CTA for medication sections  -->
    {% if form_medication is not defined and is_updatable %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id, 'action': 'medication_add' } ) }}" class="sc-button bt-create" />
            {{ 'Add a medication'|trans }}
            </a>
        </li>
        {# 
        <li>
            <a href="#" class="sc-button btn-create">
            {{ 'Renew a medication' }}
            </a>
        </li>
        #}
    </ul>
    {% endif %}
    
    {% if consultation.isClosed %}
    <h2>{{ 'Publications'|trans }} </h2>
    
    {% if consultation.publications|length == 0 %}
        <p class="chill-no-data-statement">
            {{ 'No consultation yet'|trans }}
        </p>
        
        <ul class="record_actions">
            <li>
                <a href="{{ path('chill_brusafe_document_new', { 'consultation_id' : consultation.id } ) }}" class="sc-button bt-create">
                    {{ 'Create a publication'|trans }}
                </a>
            </li>
        </ul>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>{{ 'Date of creation'|trans }}</th>
                <th>{{ 'Is published ?'|trans }}</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
                {% for publication in consultation.publications %}
                    <tr>
                        <td>{{ publication.date|localizeddate('long', 'none') }}</td>
                        <td>
                            {%- if publication.isPublished -%}
                                {{ 'Yes, on %date%'|trans( { '%date%' : publication.datePublished|localizeddate('long', 'long') } ) }}
                            {%- else -%}
                                {{ 'Not published yet'|trans }}
                            {%- endif -%}
                        </td>
                        <td>
                            <ul class="record_actions">
                                <li>
                                    <a href="{{ path('chill_brusafe_document_show', { 'publication_id' : publication.id } ) }}" class="sc-button btn-see">
                                        {{ 'See'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
    
    {% endif %}
    
    <h2>{{ 'Actions'|trans }}</h2>
    
    <!-- CTA for consultation -->

    <ul class="record_actions">
        {% if is_updatable %}
        <li>
            <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id, 'action' : 'suggest_close' } ) }}" class="sc-button">
              {{ 'Close consultation'|trans }}
            </a>
        </li>
        
        <li>
            <a href="{{ path('chill_health_consultation_close', { 'consultation_id' : consultation.id, 'action': 'suggest_close_and_publish' } ) }}" class="sc-button">
              {{ 'Close consultation and publish document'|trans }}
            </a>
        </li>
        {% endif %}
        
        {% if form_close is defined %}
        <li>
            {{ form_start(form_close) }}
            {{ form_widget(form_close.submit, { 'attr' : { 'class' : 'sc-button btn-delete' }, 'label': 'Close consultation' } ) }}
            {{ form_end(form_close) }}
        </li>
        {% endif %}
        <li>
            <a href="{{ path('chill_health_consultation_list', { 'person_id': person.id } ) }}" class="sc-button btn-cancel">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
    </ul>
    
    
    
{% endblock %}
